/* Text name of the clan */
.name {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 50px;
}

/* Text date of clan creation */
.clanCreated {
    margin-right: 60px;
}

/* Clan info box */
.clanInfoBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
}

/* Normal text */
.normalText {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
}

/* Clan stats box */
.clanStatsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
}

/* Table */
.tableClanStats {
    margin-top: 10px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
}

/* Header */
.tableClanStats th {
    background-color: var(--purple);
    color: white;
    padding: 10px;
    font-size: 18px;
}

/* Data */
.tableClanStats td {
    padding: 12px;
    border-bottom: 2px solid var(--purple);
    font-size: 16px;
}

.tableClanStats th, .tableClanStats td {
    padding: 15px;
}

/* Box */
.playersInClanBox {
    margin-right: 90px;
    margin-left: 90px;
}

/* Table */
.playersInClan {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    border-collapse: collapse;
}

/*  */
.playersInClan th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid white;
    color: white;
}

/* Header */
.playersInClan th {
    background-color: var(--graySite);
}

/* Data */
.playersInClan td {
    background-color: var(--grayLite);
}