/* Color variables */
:root {
    --purple: rgba(159, 49, 210, 0.9);
    --graySite: rgba(52, 52, 50, 0.95);
    --grayLite: rgb(69, 69, 68);
}

/* Body settings - background */
body {
    background: url('../res/photo/background.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    wrap-option: wrap;
    flex-direction: column;
    margin: 0;
}

/* Gradient for NavBar */
.customNavBar {
    background: linear-gradient(to bottom,
    rgba(52, 52, 50, 1) 0%,
    rgba(52, 52, 50, 0.95) 50%,
    rgba(52, 52, 50, 0.85) 70%,
    rgba(52, 52, 50, 0.6) 100%);
}

/* NavBar link color */
.customNavBar .nav-link {
    color: white;
}

/* NavBar link hover color */
.customNavBar .nav-link:hover {
    color: var(--purple);
}

/* NavBar brand color */
.customNavBar .navbar-brand {
    color: RED;
}

/* NavBar brand hover color */
.customNavBar .navbar-brand:hover {
    color: var(--purple);
}

/* Page content */
.pageContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(to top,
    rgba(52, 52, 50, 1) 20%,
    rgba(52, 52, 50, 0.95) 40%,
    rgba(52, 52, 50, 0.85) 80%,
    rgba(52, 52, 50, 0.6) 100%);
    color: white;
    min-height: 900px;
}

/* Page header box */
.pageHeaderBox {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    margin: 1%;
}

/* Page header - name */
.pageHeader {
    color: white;
    margin-left: 20px;
}

/* Page description */
.pageDescription {
    font-size: 18px;
    margin-top: 60px;
    margin-right: 20px;
    color: white;
}

/* MOVED FROM tanks.css | need in mastery as well*/
/* Box for search options */
.searchOptionsBox {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    margin-left: 60px;
    gap: 5px;
    padding: 10px;
}

/* Searchbar */
.searchBar {
    background-color: var(--grayLite);
    padding: 10px;
    font-size: 15px;
    border: 2px solid var(--purple);
    height: 40px;
    width: 150px;
    border-radius: 20px;
    color: white;
    min-width: 120px;
    flex-grow: 1;
}

/* Button group */
.buttonGroupBox {
    display: flex;
    flex-wrap: wrap;
}

/* Custom search button */
.searchButton {
    padding: 6px 8px;
    font-size: 12px;
    border-top: 2px solid var(--purple);
    border-bottom: 2px solid var(--purple);
    border-left: none;
    border-right: none;
    background-color: var(--grayLite);
    color: white;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
}

/* Round the first button in group */
.searchButton:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 2px var(--purple);
}

/*  Round the last button in group */
.searchButton:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 2px var(--purple);
}

/* Hover effects */
.searchButton:hover {
    background-color: var(--grayLite);
    transform: translateY(-2px);
    border-color: var(--purple);
}