/* Heading of each tier */
.tierHeading {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-left: 100px;
}

/* List of tanks for tier */
.tankListBox {
    margin-top: 20px;
    width: 100%;
}

/* Container of vehicles content */
.tierContainer {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
}

/* Item - name, image, link */
.listItems {
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
}

/* List item - single vehicle */
.listItem {
    width: 150px;
    height: 32px;
    margin: 5px;
}

/* Image size */
.tankImage {
    width: 60px;
}

/* Font size - might change the other values as well */
.tankName {
    font-size: 15px;
    color: white;
}

/* Removes the hyperlink blue underline */
a {
    text-decoration: none;
}